<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!-- 实例化Dao组件 -->
     <bean id="baseDao"
		class="com.sys.exam.database.GenericHibernateDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="examDao" class="com.sys.exam.database.impl.ExamDaoImpl" parent="baseDao"/>
	<bean id="optionsDao" class="com.sys.exam.database.impl.OptionsDaoImpl" parent="baseDao"/>
	<bean id="questionBaseDao" class="com.sys.exam.database.impl.QuestionBaseDaoImpl" parent="baseDao"/>
	<bean id="questionCategoryDao" class="com.sys.exam.database.impl.QuestionCategoryDaoImpl" parent="baseDao"/>
	<bean id="questionsDao" class="com.sys.exam.database.impl.QuestionsDaoImpl" parent="baseDao"/>
	<bean id="userDao" class="com.sys.exam.database.impl.UserDaoImpl" parent="baseDao"/>
	<bean id="userExamDao" class="com.sys.exam.database.impl.UserExamDaoImpl" parent="baseDao"/>
	<bean id="userGroupDao" class="com.sys.exam.database.impl.UserGroupDaoImpl" parent="baseDao"/>
	<bean id="userGroupRelDao" class="com.sys.exam.database.impl.UserGroupRelDaoImpl" parent="baseDao"/>
	<bean id="userQuestionDao" class="com.sys.exam.database.impl.UserQuestionDaoImpl" parent="baseDao"/>
	
	<bean id="examCateRatioDao" class="com.sys.exam.database.impl.ExamCateRatioDaoImpl" parent="baseDao"/>
	<bean id="examQuesTypeDao" class="com.sys.exam.database.impl.ExamQuesTypeDaoImpl" parent="baseDao"/>
	<bean id="questionTypeDao" class="com.sys.exam.database.impl.QuestionTypeDaoImpl" parent="baseDao"/>
	

</beans>
 